{% extends 'base.html.twig' %}

{% block title %}New TableCommande{% endblock %}

{% block body %}
    <h1>Create new TableCommande</h1>

    {{ include('nhema/vente/table_commande/_form.html.twig') }}

    <a href="{{ path('app_nhema_vente_table_commande_index') }}">back to list</a>
{% endblock %}
