{% extends 'base.html.twig' %}

{% block title %}Edit TypePlat{% endblock %}

{% block body %}
    <h1>Edit TypePlat</h1>

    {{ include('nhema/admin/type_plat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nhema_admin_type_plat_index') }}">back to list</a>

    {{ include('nhema/admin/type_plat/_delete_form.html.twig') }}
{% endblock %}
