<form method="post" action="{{ path('app_nhema_admin_chicha_delete', {'id': chicha.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chicha.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
