{% extends 'base.html.twig' %}

{% block title %}New CocktailRecette{% endblock %}

{% block body %}
    <h1>Create new CocktailRecette</h1>

    {{ include('nhema/admin/cocktail_recette/_form.html.twig') }}

    <a href="{{ path('app_nhema_admin_cocktail_recette_index') }}">back to list</a>
{% endblock %}
