{% extends 'base.html.twig' %}

{% block title %}LiaisonProduct index{% endblock %}

{% block body %}
    <h1>LiaisonProduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for liaison_product in liaison_products %}
            <tr>
                <td>{{ liaison_product.id }}</td>
                <td>
                    <a href="{{ path('app_nhema_admin_liaison_product_show', {'id': liaison_product.id}) }}">show</a>
                    <a href="{{ path('app_nhema_admin_liaison_product_edit', {'id': liaison_product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_nhema_admin_liaison_product_new') }}">Create new</a>
{% endblock %}
