{% extends 'base.html.twig' %}

{% block title %}Edit MenuVente{% endblock %}

{% block body %}
    <h1>Edit MenuVente</h1>

    {{ include('nhema/admin/menu_vente/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nhema_admin_menu_vente_index') }}">back to list</a>

    {{ include('nhema/admin/menu_vente/_delete_form.html.twig') }}
{% endblock %}
